@font-face {
    font-family: 'TankTrouble';
    src: url('fonts/TankTrouble.ttf') format('truetype');
}

@font-face {
    font-family: 'Atkison';
    src: url('fonts/Atkinson-Hyperlegible.ttf') format('truetype');
}

@font-face {
    font-family: 'TankTroubleClassic';
    src: url('fonts/Classic_TankTrouble_font.ttf') format('truetype');
}

.custom-font {
    font-family: 'TankTrouble', sans-serif;
}

.custom-font {
    font-family: 'TankTroubleClassic', sans-serif;
}

 .custom-font {
    font-family: 'Atkison', sans-serif;
 }


a {

    color: #fff;

}



a:hover {

    color: gray;

}



ul {

    font-size:2em; 

    text-align:center; 

    color: #000000; 

    margin:5px 25px; 

    border-radius: 5px;

    padding-left: 0;

}



html, body {

    height: 100%;

}



body {

    display: flex;

    flex-direction: column;

    background-color: #000;

}



::-webkit-scrollbar {

    width: 12px;

}



::-webkit-scrollbar-thumb {

    border-radius: 10px;

    background-color: #242424;

    background-image: linear-gradient(to bottom, rgb(37, 37, 37), rgb(139, 139, 139));

}



::-webkit-scrollbar-track {

    background-image: linear-gradient(to bottom, rgb(139, 139, 139), rgb(37, 37, 37));

}



::-webkit-scrollbar-thumb:hover {

    background: pink;  

}



footer {

    background-color:#000;

    color:#fff5ee;

    text-align:center;

    font-size:1.5em;

    font-weight:700;

    font-family:Cambria,Cochin,Georgia,Times,'Times New Roman',serif;

    position:hover;

    background-color:#000;

    background-image: linear-gradient(to bottom right, #333333, #292929);

    margin-top:auto;

}
